// theme color
$color-main: #ef832a;
$color-secondary: #5aa1c5;
$color-grey: #fbfbfb;
$white: #fff;
$black-01: #000;
$black-02: #3b3b3b;
$black-03: #444444;
$box-shadow: #44444496;
$bg-grey: #c3c3c3;
