// Theme
html,
body {
  scroll-behavior: smooth;
}

.bg-main {
  background-color: $color-main;
}

.app {
  background-color: $color-grey;
}

// Container and Wrapper
.container {
  max-width: 95%;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 90%;
  }
}
